In [1]:
#Import packages
import numpy as np
import pandas as pd
import os

In [2]:
#Path
os.chdir("D:\\DS\\Python DS\\Sample\\Loan Prediction Dataset\\")

In [3]:
#dataset
loan=pd.read_csv("test_lAUu6dG.csv")

In [4]:
#test null value
loan.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [5]:
#Convert symbol
loan["Dependents"]=loan["Dependents"].replace(["3+"], "3")

In [6]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [7]:
#Check columns
len(loan.columns)

12

In [8]:
#Assign x and y
x=loan.iloc[:,1:-1].values

In [9]:
pd.DataFrame(x)

          0    1  2             3    4      5      6    7    8    9
0      Male  Yes  0      Graduate   No   5720      0  110  360    1
1      Male  Yes  1      Graduate   No   3076   1500  126  360    1
2      Male  Yes  2      Graduate   No   5000   1800  208  360    1
3      Male  Yes  2      Graduate   No   2340   2546  100  360  NaN
4      Male   No  0  Not Graduate   No   3276      0   78  360    1
5      Male  Yes  0  Not Graduate  Yes   2165   3422  152  360    1
6    Female   No  1  Not Graduate   No   2226      0   59  360    1
7      Male  Yes  2  Not Graduate   No   3881      0  147  360    0
8      Male  Yes  2      Graduate  NaN  13633      0  280  240    1
9      Male   No  0  Not Graduate   No   2400   2400  123  360    1
10     Male   No  0  Not Graduate   No   3091      0   90  360    1
11     Male  Yes  1      Graduate  NaN   2185   1516  162  360    1
12     Male   No  3      Graduate   No   4166      0   40  180  NaN
13     Male  Yes  2      Graduate  NaN  12173      0  166  360    0
14   Female   No  0      Graduate   No   4666      0  124  360    1
15     Male   No  1      Graduate   No   5667      0  131  360    1
16     Male  Yes  2      Graduate   No   4583   2916  200  360    1
17     Male  Yes  3      Graduate   No   3786    333  126  360    1
18     Male  Yes  0      Graduate   No   9226   7916  300  360    1
19     Male   No  0      Graduate   No   1300   3470  100  180    1
20     Male  Yes  1  Not Graduate   No   1888   1620   48  360    1
21   Female   No  3  Not Graduate   No   2083      0   28  180    1
22      NaN   No  0      Graduate   No   3909      0  101  360    1
23   Female   No  0  Not Graduate   No   3765      0  125  360    1
24     Male  Yes  0      Graduate   No   5400   4380  290  360    1
25     Male   No  0      Graduate   No      0  24000  148  360    0
26     Male  Yes  2      Graduate   No   4363   1250  140  360  NaN
27     Male  Yes  0      Graduate   No   7500   3750  275  360    1
28     Male  Yes  0      Graduate   No   3772    833   57  360  NaN
29     Male   No  0      Graduate   No   2942   2382  125  180    1
..      ...  ... ..           ...  ...    ...    ...  ...  ...  ...
337    Male  Yes  0      Graduate   No   2292   1558  119  360    1
338    Male  Yes  1      Graduate  Yes   2360   3355   87  240    1
339  Female   No  0      Graduate   No   4333   2333  162  360    0
340    Male  Yes  0      Graduate  Yes   2623   4831  122  180    1
341    Male   No  0      Graduate  Yes   3972   4275  187  360    1
342    Male  Yes  3  Not Graduate   No   3522      0   81  180    1
343    Male  Yes  1      Graduate   No   4700      0   80  360    1
344    Male   No  0      Graduate   No   6858      0  176  360    1
345    Male  Yes  3      Graduate   No   8334      0  260  360    1
346    Male  Yes  0      Graduate   No   3391   1966  133  360    0
347    Male   No  0  Not Graduate   No   2868      0   70  360    1
348    Male  Yes  2  Not Graduate   No   3418   1380  135  360    1
349    Male  Yes  0      Graduate  Yes   2500    296  137  300    1
350    Male  Yes  2      Graduate   No   8667      0  254  360    1
351    Male   No  0      Graduate   No   2283  15000  106  360  NaN
352    Male  Yes  0      Graduate   No   5817    910  109  360    1
353    Male  Yes  0      Graduate   No   5119   3769  120  360    1
354    Male  Yes  3  Not Graduate   No   5316    187  158  180    0
355    Male  Yes  3      Graduate   No   7603   1213  197  360    1
356    Male  Yes  1      Graduate   No   3791   1936   85  360    1
357    Male   No  0      Graduate   No   2500      0   60  360    1
358    Male  Yes  2  Not Graduate   No   3132      0   76  360  NaN
359    Male   No  0      Graduate   No   4000   2667  152  360    1
360  Female  Yes  0      Graduate   No   8550   4255   96  360  NaN
361    Male  Yes  1      Graduate   No   2269   2167   99  360    1
362    Male  Yes  3  Not Graduate  Yes   4009   1777  113  360    1
363    Male  Yes  0      Graduate   No   4158    709  115  360    1
364    Male   No  0      Graduate   No   3250   1993  126  360  NaN
365    Male  Yes  0      Graduate   No   5000   2393  158  360    1
366    Male   No  0      Graduate  Yes   9200      0   98  180    1

[367 rows x 10 columns]

In [10]:
y=loan.iloc[:,-1].values

In [11]:
pd.DataFrame(x).isnull().sum()

0    11
1     0
2    10
3     0
4    23
5     0
6     0
7     5
8     6
9    29
dtype: int64

In [12]:
#Missing Value Treatment
from sklearn.impute import SimpleImputer
imp_gen = SimpleImputer(strategy="most_frequent")
x[:,0:9]= imp_gen.fit_transform(x[:,0:9])

In [13]:
#LabelEncoder - Change to numeric
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelx = LabelEncoder()
x[:,0] = labelx.fit_transform(x[:,0])
x[:,1] = labelx.fit_transform(x[:,1])
x[:,3] = labelx.fit_transform(x[:,3])
x[:,4] = labelx.fit_transform(x[:,4])
x[:,9] = labelx.fit_transform(x[:,9])

In [14]:
x[:,2]

array(['0', '1', '2', '2', '0', '0', '1', '2', '2', '0', '0', '1', '3',
       '2', '0', '1', '2', '3', '0', '0', '1', '3', '0', '0', '0', '0',
       '2', '0', '0', '0', '0', '2', '0', '0', '0', '0', '2', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '3', '1', '3',
       '1', '2', '0', '0', '0', '2', '2', '3', '0', '0', '2', '0', '3',
       '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0',
       '1', '0', '3', '3', '2', '0', '0', '2', '0', '0', '2', '0', '0',
       '3', '1', '2', '1', '3', '1', '0', '3', '3', '0', '0', '1', '2',
       '0', '0', '0', '3', '0', '0', '0', '0', '0', '2', '0', '3', '0',
       '1', '0', '2', '0', '0', '3', '0', '0', '0', '0', '2', '0', '1',
       '0', '0', '1', '1', '0', '0', '2', '1', '0', '3', '0', '3', '3',
       '0', '2', '0', '0', '0', '1', '0', '0', '0', '0', '1', '2', '0',
       '2', '0', '1', '0', '0', '0', '0', '0', '1', '0', '2', '0', '3',
       '1', '0', '2', '0', '0', '0', '2', '2', '0', '2', '3', '2', '0',
       '2', '1', '3', '0', '2', '2', '0', '2', '1', '0', '2', '3', '1',
       '0', '1', '0', '2', '0', '0', '3', '0', '0', '0', '0', '1', '1',
       '0', '1', '0', '0', '3', '0', '0', '0', '0', '0', '1', '1', '0',
       '0', '2', '1', '2', '0', '0', '1', '0', '3', '0', '0', '0', '1',
       '0', '0', '0', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2',
       '0', '0', '0', '3', '0', '1', '2', '1', '0', '0', '0', '0', '1',
       '3', '0', '0', '1', '2', '0', '1', '1', '2', '0', '3', '0', '1',
       '2', '0', '3', '0', '0', '3', '0', '0', '0', '0', '0', '2', '1',
       '0', '0', '0', '1', '0', '2', '0', '0', '1', '0', '0', '0', '2',
       '2', '1', '1', '0', '1', '0', '2', '2', '2', '1', '0', '0', '3',
       '0', '2', '0', '0', '0', '0', '0', '0', '1', '0', '3', '1', '0',
       '0', '1', '2', '3', '1', '0', '3', '1', '0', '0', '2', '0', '0',
       '1', '0', '0', '0', '3', '1', '0', '3', '0', '0', '2', '0', '2',
       '0', '0', '0', '3', '3', '1', '0', '2', '0', '0', '1', '3', '0',
       '0', '0', '0'], dtype=object)

In [15]:
#Category to multiple column with OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features=[3])
x = onehotencoder.fit_transform(x).toarray()

D:\DS\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\DS\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [16]:
#split data to train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [17]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)

D:\DS\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\DS\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
y_pred_log=logmodel.predict(x_test)

In [19]:
#Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred_log)

0.35135135135135137

In [20]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
class_knn=KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)
class_knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [21]:
y_pred_knn=class_knn.predict(x_test)

In [22]:
#Accuracy
accuracy_score(y_test, y_pred_knn)

0.24324324324324326

In [23]:
#KNN
from sklearn.naive_bayes import GaussianNB
class_nb=GaussianNB()
class_nb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred_nb=class_nb.predict(x_test)

In [ ]:
#Accuracy
accuracy_score(y_test, y_pred_nb)

0.33783783783783783

In [ ]:
#SVM - Linear
from sklearn.svm import SVC
class_linear=SVC(kernel='linear')
class_linear.fit(x_train,y_train)

In [ ]:
y_pred_linear=class_linear.predict(x_test)

In [ ]:
#Accuracy
accuracy_score(y_test, y_pred_linear)

In [ ]:
#SVM - RBF
from sklearn.svm import SVC
class_rbf=SVC(kernel='rbf')
class_rbf.fit(x_train,y_train)

In [ ]:
y_pred_rbf=class_rbf.predict(x_test)

In [ ]:
#Accuracy
accuracy_score(y_test, y_pred_rbf)

In [ ]:
#SVM - Sigmoid
from sklearn.svm import SVC
class_sigmoid=SVC(kernel='sigmoid')
class_sigmoid.fit(x_train,y_train)

In [ ]:
y_pred_sigmoid=class_sigmoid.predict(x_test)

In [ ]:
#Accuracy
accuracy_score(y_test, y_pred_sigmoid)

In [ ]:
# # #Entropy - Decision Tree
from sklearn.tree import DecisionTreeClassifier
class_tree=DecisionTreeClassifier(criterion="entropy")
class_tree.fit(x_train,y_train)

In [ ]:
y_pred_tree=class_tree.predict(x_test)

In [ ]:
accuracy_score(y_test, y_pred_tree)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
class_random = RandomForestClassifier(n_estimators=3, criterion="entropy")
class_random.fit(x_train,y_train)

In [ ]:
y_pred_random=class_random.predict(x_test)

In [ ]:
accuracy_score(y_test, y_pred_random)

In [ ]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
cmlog=confusion_matrix(y_test, y_pred_log)
cmknn=confusion_matrix(y_test, y_pred_knn)
cmnb=confusion_matrix(y_test, y_pred_nb)
cmlinear=confusion_matrix(y_test, y_pred_linear)
cmrbf=confusion_matrix(y_test, y_pred_rbf)
cmsigmoid=confusion_matrix(y_test, y_pred_sigmoid)
cmtree=confusion_matrix(y_test, y_pred_tree)
cmrandom=confusion_matrix(y_test, y_pred_random)

In [ ]:
(cmlog[0,0]+cmlog[1,1])/sum(sum(cmlog))

In [ ]:
(cmknn[0,0]+cmknn[1,1])/sum(sum(cmknn))

In [ ]:
(cmnb[0,0]+cmnb[1,1])/sum(sum(cmnb))

In [ ]:
(cmlinear[0,0]+cmlinear[1,1])/sum(sum(cmlinear))

In [ ]:
(cmrbf[0,0]+cmrbf[1,1])/sum(sum(cmrbf))

In [ ]:
(cmsigmoid[0,0]+cmsigmoid[1,1])/sum(sum(cmsigmoid))

In [ ]:
(cmtree[0,0]+cmtree[1,1])/sum(sum(cmtree))

In [ ]:
(cmrandom[0,0]+cmrandom[1,1])/sum(sum(cmrandom))